@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica/coolvertica compressed hv.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/productsans/ProductSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-VariableFont_wght.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
